* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin:0 auto ;
}

header {
    height: 10vh;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 20%;
    position: relative;
}

header img {
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}

h1{
    font-size: 30px;

}

h4,h5 {
    color: grey;
}

h4 a {
    text-decoration: none;
    color: #38B2E8;
}

h6 {
    margin-bottom: 30px;
}

h1,h4,h5,h6 {
    margin-left: 5px;
}

p{
    margin: 30px 5px;
}

ul {
    margin-left: 1.5em;
    margin-bottom: 30px;
}

article img {
    display: block;
    margin-left: 5px;
    margin-top: 10px;
}

table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

thead{
    color: white;
    background-color: #20A9E5;
}

.darker {
    background-color: #B1E5F2;
}

.larger {
    width: 50%;
}

td{
    padding: 10px 0;
    width: 25%;
}

footer img {
    display: block;
    margin: 15px 5px;
}

